<span><i class="bi bi-list-ul"></i></span>
<div class="sale-table">
  <p-table
    [scrollable]="true">
    <ng-template pTemplate="header">
      <tr class="head">
        <th ><p-button class="unassigned-lots" label="Unassigned Lots ({{ unAssignedLots}})"/> </th>
        <th class="assigned-lots"><p-button label="Assigned Lots ({{assignedLots}})"/></th>
        <th class="live-lots"><p-button label="Live Lots ({{liveLots}})"/></th>
        <th class="bid-lots"><p-button label="Bid Approval Lots ({{bidApprovalLots}})"/></th>
        <th class="sold-lots"><p-button label="Sold Lots ({{soldLots}})"/></th>
      </tr>
    </ng-template>
  </p-table>
</div>
<app-lots-list></app-lots-list>

